<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
 
<head><title>Dodawanie artykułu</title></head>
<body>

<div layout:fragment="content">
  <div th:include="menuFragment" ></div>
  
  <div class="container">
  <h2 class="custom-title">Dodawanie artykułu</h2>
  	
  	<form  class="border border-primary rounded custom-form" action="AddArticle" method="POST" enctype="multipart/form-data">
  	  <input type="hidden" name="participantId" th:value="${participant.id}" />
  	    	
  	  <div class="form-group">
        <label for="name">Tytuł</label>
        <input type="text" name="articleTitle" class="form-control" id="title"/>
      </div>
      <div class="form-group">
        <label for="name">Temat</label>
        <input type="text" name="articleTopic" class="form-control" id="topic"/>
      </div>
	  <div>
		<label for="fileselect">Artykuł:</label>
		<input type="file" id="fileselect" name="articleFile" multiple="multiple" />
	  </div>
	  <div class="form-check custom-checkbox">
        <input type="checkbox" name="moreThanOneArticle" class="form-check-input" id="moreThanOneArticle"/>
        <label class="form-check-label" for="exampleCheck1">Chcę zgłosić kolejny artykuł</label>
      </div>	  
      <button type="submit" class="btn btn-primary">Zatwierdź artykuł</button>
  	</form>
  	
  </div>
</div>

</body>
</html>