<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutBasic">
<body>


	<span layout:fragment="pageTitle"> - Recenzja </span>

	<div layout:fragment="content">

		<div class="container">
			<h2 class="custom-title">Recenzja artykułu</h2>
			<table border="1" cellpadding="5" class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>tytuł</th>
						<th>załącznik</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span th:text="${article.id}" /></td>
						<td><span th:text="${article.title}" /></td>
						<td><span th:text="${article.attachment}" /></td>
					</tr>
				</tbody>
			</table>
			
			<form class="inline-block" action="AcceptArticle" method="Post">
				<input type="hidden" name="articleId" th:value="${article.id}" />
				<button class="btn btn-warning" type="submit">Accept</button>
			</form>
			<form class="inline-block" action="RejectArticle" method="POST">
				<input type="hidden" name="articleId" th:value="${article.id}" />
				<button class="btn btn-info" type="submit">Reject</button>
			</form>

		</div>

	</div>

</body>
</html>