<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutBasic">
<body th:class="${alert}?'modal-open':''">

	<span layout:fragment="pageTitle"> - Recenzja </span>

	<div layout:fragment="content">

		<div th:if="${alert}" class="modal fade show custom-modal-over"
			tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Artykuł został oceniony!</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<a href="/About">&times;</a>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="${alert}" />
					</div>
					<div class="modal-footer text-center">
						<a class="btn btn-primary" href='/About'>Strona główna</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<h2 class="custom-title">Recenzja artykułu</h2>
			<table border="1" cellpadding="5" class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<!--	<th>Id</th>
						<th>tytuł</th>
					-->
						<th>załącznik</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span th:text="${article.id}" /><a
							th:href="@{'/files/' + ${article.id} + '.pdf'}" target="_blank">
								Pobierz artykuł w formacie pdf</a></td>
					</tr>
				</tbody>
			</table>
			<div>
				<embed
					th:src="'/Article/'+${article.id}+'/Review/pdf/'+${article.id}+'.pdf'"
					type="application/pdf" style="height: 500px; width: 100%" />
			</div>

			<form class="inline-block" action="Rate" method="Post">
				<label for="comment">Komentarz: </label>
				<textarea id="comment" name="comment" rows="4" cols="50" />
				
				<br /> <label for="input-rating">Oceń (1-5): </label> <input
					id="input-rating" name="rate" value="2" type="text" title="" /> <br />
				<input type="hidden" name="articleId" th:value="${article.id}" />
				<button class="btn btn-warning" type="submit">Prześlij ocenę</button>
			</form>
		</div>
		<script>
        jQuery(document).ready(function () {
               		
           $('#input-rating').rating({
                min: 0,
                max: 5,
                step: 1,
                size: 'xs',
                showClear: false,
                showCaption: false
            });

        });
    </script>
	</div>

</body>
</html>
