<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<span layout:fragment="pageTitle"> - Artykuły </span>

<div layout:fragment="content">
  <div th:include="menuFragmentForEditor"></div>

  <div class="container">
    <h2 class="custom-title">Lista artykułów</h2>
    <table border="1" cellpadding="5" class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>tytul</th>
        <th>temat</th>
        <th>uczestnik</th>
        <th>email</th>
        <th>link dla recenzenta</th>
        <th>zaakceptowana</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="article: ${articles}">
        <td><span th:text="${article.id}"/></td>
        <td><span th:text="${article.title}"/></td>
        <td><span th:text="${article.topic}"/></td>
        <td><span th:text="${article.participant}"/></td>
        <td><span th:text="${article.participant.email}"/></td>
        <td><a th:href="@{'Article/' + ${article.id} + '/Review/'}"  th:text="@{'Article/' + ${article.id} + '/Review/'}"/></td>
        <td>
          <input type="checkbox" th:checked="${article.isAprovedByReviewer}" disabled="disabled"/>
        </td>
      
        <td>
          <form class="inline-block" action="DeleteArticle" method="DELETE">
            <input type="hidden" name="articleId" th:value="${article.id}"/>
            <button class="btn btn-warning" type="submit">X</button>
          </form>
          <form class="inline-block" action="UpdateArticle" method="POST">
            <input type="hidden" name="articleId" th:value="${article.id}"/>
            <button class="btn btn-info" type="submit">Edit</button>
          </form>
      
        </td>
      </tr>
      </tbody>
    </table>
    <br/><a class="btn btn-primary" href='AddArticle'>dodaj</a><br/><br/>
  </div>
</div>

</body>
</html>