<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="CorrectSchoolData" method="POST">
					<table>
						<tr><td>id:</td><td><span th:text="${schoolId}"></span><input type="hidden" name="schoolId" th:value="${schoolId}" /></td></tr>
						<tr><td>nazwa:</td><td><input type="text" name="schoolName" th:value="${schoolName}"/></td></tr>
						<tr><td>adres:</td><td><input type="text" name="schoolAddress"  th:value="${schoolAddress}"/></td></tr>
					</table><br/><BR/>
					<input type="submit" value="Edytuj" />
				</form>
    </div>

</body>
</html>


