<html style="text-align:center;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>System do obslugi konferencji</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
<!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
 --><link rel="stylesheet" type="text/css" href="/styles/styles.css" th:ref="@{/styles/styles.css}"/>

<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/styles/star-rating.min.css" th:ref="@{/styles/star-rating.min.css}"/>
<script type="text/javascript" src="/js/jquery_2.1.1_jquery.min.js" ></script>
<script type="text/javascript" src="/js/star-rating.js"></script> -->



</head>

<body>
<div align="center">
  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <h2 class="navbar-brand"> System obsługi konferencji <span id="the-title" layout:fragment="pageTitle" /> </h2>
      <span class="navbar-text"><span th:text="${message}" style='color:#c00' /> </span>
    </div>
  </nav>
  
  <div id="the-content" layout:fragment="content">
    Static content - never visible
  </div>

</div>

<hr />
<div class="container" style="text-align: center">
  (c) Grupa 3.
</div>


</body>
</html>