<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

<div layout:fragment="content">
  <div th:include="menuFragment" ></div>
  
  <div class="container">
    <h2 class="custom-title">Formularz uczestnictwa</h2>
    
    <form  class="border border-primary rounded custom-form" action="AddParticipant" method="POST">
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" name="participantName" value="" class="form-control" id="name" placeholder="Wprowadź imię"/>
      </div>
      <div class="form-group">
        <label for="name">Nazwisko</label>
        <input type="text" name="participantSurname" value="" class="form-control" id="surname" placeholder="Wprowadź nazwisko"/>
      </div>
      <div class="form-group">
        <label for="name">Uczelnia</label>
        <input type="text" name="participantUniversity" value="" class="form-control" id="school" placeholder="Wprowadź nazwę uczelni"/>
      </div>
      <div class="form-group">
        <label for="name">E-mail</label>
        <input type="text" name="participantEmail" value="" class="form-control" id="school" placeholder="Wprowadź adres e-mail"/>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"/>
        <label class="form-check-label" for="exampleCheck1">Chcę zgłosić artykuł</label>
      </div>
      <button type="submit" class="btn btn-primary">Zgłoś swój udział</button>
    </form>
  </div>
</div>

</body>
</html>


