<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body th:class="${alert}?'modal-open':''">

<div layout:fragment="content">
  <div th:include="menuFragment" ></div>
  
  <div th:if="${alert}" class="modal fade show custom-modal-over" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Gratulacje</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <a href="/Start">&times;</a>
          </button>
        </div>
        <div class="modal-body">
          <p th:text="${alert}"/>
        </div>
        <div class="modal-footer text-center">
          <a class="btn btn-primary" href='/About'>Wróć do strony głównej</a>
        </div>
      </div>
    </div>
  </div>
  
  <div th:if="${alert2}" class="modal fade show custom-modal-over" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Uwaga</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <a href="/Start">&times;</a>
          </button>
        </div>
        <div class="modal-body">
          <p th:text="${alert2}"/>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href='/Start'>Wróć do rejestracji</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2 class="custom-title">Rejestracja uczestnika</h2>
    
    <form  class="border border-primary rounded custom-form" action="AddParticipant" method="POST">
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" name="participantName" value="" class="form-control" id="name" placeholder="Wprowadź imię"/>
      </div>
      <div class="form-group">
        <label for="name">Nazwisko</label>
        <input type="text" name="participantSurname" value="" class="form-control" id="surname" placeholder="Wprowadź nazwisko"/>
      </div>
      <div class="form-group">
        <label for="name">Uczelnia</label>
        <input type="text" name="participantUniversity" value="" class="form-control" id="school" placeholder="Wprowadź nazwę uczelni"/>
      </div>
      <div class="form-group">
        <label for="name">E-mail</label>
        <input type="email" name="participantEmail" value="" class="form-control" id="email" placeholder="Wprowadź adres e-mail"/>
      </div>
      <div class="form-check custom-checkbox">
        <input type="checkbox" name="isAuthor" class="form-check-input" id="isAuthor"/>
        <label class="form-check-label" for="exampleCheck1">Chcę zgłosić artykuł</label>
      </div>
      <button type="submit" class="btn btn-primary">Zgłoś swój udział</button>
    </form>
  </div>
</div>

</body>
</html>


