<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

<span layout:fragment="pageTitle"> - Uczestnicy </span>

<div layout:fragment="content">
  <div th:include="menuFragmentForEditor"></div>

  <div class="container">
    <h2 class="custom-title">Lista uczestników</h2>
    <table border="1" cellpadding="5" class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Uniwersytet</th>
        <th>email</th>
        <th>autor</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="participant: ${participants}">
        <td><span th:text="${participant.id}"/></td>
        <td><span th:text="${participant.name}"/></td>
        <td><span th:text="${participant.surname}"/></td>
        <td><span th:text="${participant.university}"/></td>
        <td><span th:text="${participant.email}"/></td>
        <td>
          <input type="checkbox" th:checked="${participant.doIHaveArticle}" disabled="disabled"/>
        </td>
        
        <td>
          <form class="inline-block" action="DeleteParticipant" method="DELETE">
            <input type="hidden" name="participantId" th:value="${participant.id}"/>
            <button class="btn btn-warning" type="submit" title="Usuń">X</button>
          </form>
          <form class="inline-block" action="UpdateParticipant" method="POST">
            <input type="hidden" name="participantId" th:value="${participant.id}"/>
            <button class="btn btn-info" type="submit">Edytuj</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <br/><a class="btn btn-primary" href='Start'>Dodaj</a><br/><br/>
  </div>

</div>

</body>
</html>